// Place all the styles related to the Api::Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 50px;
}


.image {
  padding: 5px;
}

.image-show-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 175px;
  // background: blue;

}

.image-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "century gothic";
}

.image-title {
  display: flex;
  justify-content: center;
  font-family: "Permanent Marker";
  font-size: 45px;
  text-align: center;
  width: 400px;
}

.image-author {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.image-return {
  font-size: 12px;
  margin-top: 40px;
  cursor: pointer;
}

.image-show {
  display: flex;
  justify-content: center;
}

.image-show img {
  // border-radius: 2%;
  width: 900px;
  height: 700px;
}

.edit-delete {
  font-size: 10px;
  padding: 10px;
}

.edit-delete a {
  cursor: pointer;
}

.image-edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1500px;
  height: 900px;
  text-align: center;

}

.edit-form-title {
    font-family: "century gothic";
    font-size: 45px;
}

.root-to-buttons {
  font-family: "century gothic";
  font-size: 15px;
  display: flex;
  justify-content: center;
  // align-items: flex-end;
}

.root-to-buttons a{
  cursor: pointer;
  padding: 5px;
}

.root-to-buttons span{
  padding: 5px;
}
