/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 100px 0 100px;
  background: black;

}


.upload-icon {
  /*width: 20px;
  height: 20px;*/
  font-size: 18px;

}

.nav-container:first-child {
  font-family: "Permanent Marker";
  color: white;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.image-carousel-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

}

.coursel-image {
  height: 800px;
  width: 1200px;
  background-color: transparent;
}

fa {
  width: 20px;
  height: 800px;
}

i.fa.fa-arrow-right{
  margin-left: 5px;
  display: flex;
  align-items: center;
}

i.fa.fa-arrow-left {
  margin-right: 5px;
  display: flex;
  align-items: center;

}

.fa:hover {
  background: #D3D3D3;
}

/*i.fa.fa-arrow-right:hover{
  display: flex;
  align-items: center;
}

i.fa.fa-arrow-left:hover {
  display: flex;
  align-items: center;

}*/

/*.carousel-button {
  display: none;
  background-color: transparent;
}*/
