/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header-nav {
  display: flex;
  /*flex-wrap: nowrap;*/
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0 100px 0px 100px;
  margin-bottom: 20px;
  background: black;
  position: fixed;
  overflow-y: hidden;
  z-index: 1;
}

.nav-container:first-child {
  font-family: "Permanent Marker";
  color: white;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  margin-left: 50px;
  cursor: pointer;
}

.nav-container ul{
  display: flex;
  margin-right: 100px;
  /*flex-wrap: nowrap;*/
  font-size: 15px;
  cursor: pointer;
}

.nav-container ul li {
  font-family: "century gothic";
  padding: 10px;
}

/*.image-carousel-container {
  display: flex;
  justify-content: center;
}*/

.coursel-image {
  height: 100%;
  width: 100%;
  /*background-color: transparent;*/
}

.fa:hover {
  background: #D3D3D3;
}
